/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Microsoft YaHei UI";
  color: #000;
  background-color: #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
}

header {
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  display: none;
}

.nav {
  display: flex;
}

.nav h2 {
  font-size: 50px;
  font-weight: normal;
  color: #fff;
  margin-left: 50px;
}

.nav-item ul {
  display: flex;
  margin: 28px 0px 0px 750px;
}

.nav-item a {
  color: #fff;
  font-size: 20px;
  margin-left: 60px;
}

.nav-item a:hover {
  color: #518c84;
  transition: 0.4s;
}

.main {
  height: 892px;
  width: 100%;
  position: relative;
  display: none;
}

.main-img {
  height: 892px;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.main-title {
  text-align: center;
}

.main-title h1 {
  font-size: 200px;
  color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: none;
}

.main-title h3 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px 50px 0px 50px;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: none;
}

.main-title ul {
  display: flex;
  position: absolute;
  top: 650px;
  left: 49.5%;
  transform: translateX(-49.5%);
  -webkit-transform: translateX(-49.5%);
  -ms-transform: translateX(-49.5%);
}

.fab {
  font-size: 50px;
  margin-left: 40px;
}

.fab:hover {
  color: #518c84;
  transition: 0.4s;
}

.direction {
  position: absolute;
  top: 800px;
  left: 51.5%;
  transform: translateX(-51.5%);
  -webkit-transform: translateX(-51.5%);
  -ms-transform: translateX(-51.5%);
}

.fas {
  font-size: 50px;
}

.about {
  height: 1150px;
  width: 100%;
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.about-title {
  width: 26%;
}

.about-title h2 {
  font-size: 80px;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 115px;
}

.about-title p {
  font-size: 25px;
  padding-top: 10px;
}

.about-main {
  background-color: rgba(0, 0, 0, 0.9);
  width: 70%;
  margin-left: 200px;
}

.about-main h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.about-items1 {
  display: flex;
  width: 100%;
  height: 430px;
  margin-top: 20px;
}

.about-items1 div {
  width: 50%;
  display: block;
}

.about-item1 {
  text-align: center;
  padding-top: 10px;
}

.about-item1 h3 {
  font-size: 35px;
}

.about-item1 ul {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  width: 68%;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.about-item1 li {
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 10px;
  border-bottom: 1.5px solid #fff;
  width: 80%;
  margin: 0 auto;
}

.about-item1 p {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
}

.about-photo1 img {
  height: 100%;
  width: 100%;
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.5s;
}

.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.about-items2 {
  display: flex;
  width: 100%;
  height: 430px;
}

.about-items2 div {
  width: 50%;
  display: block;
}

.about-photo2 img {
  height: 100%;
  width: 100%;
}

.about-item2 ul {
  margin: 60px 0 0 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 10px 0px;
}

.about-item2 li {
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}

.about-item2 p {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}

.video {
  display: none;
  background-color: #f3f3f3;
  height: 720px;
  width: 100%;
}

.video-title {
  width: 23%;
}

.video-title h2 {
  font-size: 80px;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 115px;
}

.video-title p {
  font-size: 25px;
  padding-top: 10px;
}

.video-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-item1 {
  width: 48%;
  background-color: #fff;
  height: 530px;
}

.video-item1 h3 {
  width: 35%;
  font-size: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.video-item1 ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.video-item1 li {
  margin: 0px 0px 20px 15px;
}

.video-item2 {
  width: 48%;
  background-color: #fff;
  height: 530px;
}

.video-item2 h3 {
  width: 65%;
  font-size: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.video-item2 ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

.video-item2 li {
  margin: 0px 0px 20px 15px;
}

.news {
  display: none;
  background-color: #fff;
  height: 690px;
  width: 100%;
}

.news-title {
  width: 22%;
}

.news-title h2 {
  font-size: 80px;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 115px;
}

.video-title p {
  font-size: 25px;
  padding-top: 10px;
}

.news-title p {
  font-size: 25px;
  padding-top: 10px;
}

.news-items {
  width: 97%;
  margin: 0 auto;
}

.news-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  margin-top: 15px;
}

.news-left {
  text-align: center;
}

.news-left p {
  font-size: 25px;
  height: 30px;
}

.news-left h3 {
  font-size: 45px;
}

.news-right {
  width: 74%;
}

.news-right p {
  font-size: 30px;
  padding-top: 40px;
}

.contact {
  display: none;
  background-color: #f3f3f3;
  height: 460px;
  width: 100%;
}

.contact-title {
  width: 34%;
}

.contact-title h2 {
  font-size: 80px;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 115px;
}

.contact-title p {
  font-size: 25px;
  padding-top: 10px;
}

.contact-text p {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

.contact-items {
  margin: 0 auto;
  width: 78%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.contact-item .fab {
  font-size: 80px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.contact-item p {
  font-size: 20px;
  font-weight: regular;
  margin-top: 10px;
}
