/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
}

.header-changed {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-changed .logo {
  color: #fff;
  line-height: 60px;
  font-size: 40px;
}

.header-changed .nav-items {
  top: 60px;
}

.header-changed .nav-items a {
  color: #fff;
  font-size: 14px;
}

.header-changed .burger > div {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  letter-spacing: 1px;
  font-size: 45px;
  line-height: 100px;
  color: #000;
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.nav-items a {
  display: block;
  letter-spacing: 2px;
  font-size: 16px;
  color: #000;
  font-weight: bolder;
}

.nav-items a:hover {
  color: #518c84;
  transition: 0.3s;
  cursor: pointer;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main {
  position: relative;
}

.main-img {
  background-image: url(images/2019try_201215.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 890px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.main-title {
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 38%;
}

.main-title h1 {
  font-size: 150px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: 15px;
}

.main-title h3 {
  font-size: 20px;
  color: #000;
  padding: 20px 0px;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.main-title ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.fab {
  font-size: 45px;
  color: #000;
}

.fab:hover {
  color: #518c84;
  transition: 0.4s;
}

.main-title > p {
  margin-top: 300px;
  color: #fff;
}

.main-title span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.about {
  position: absolute;
  top: 890px;
  width: 100%;
}

.container {
  width: 77%;
  margin: 0 auto;
}

.about-text h2 {
  padding: 30px 0px;
  font-size: 40px;
  letter-spacing: 1px;
  color: #000;
}

.about-text p {
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.about-text p span {
  font-size: 35px;
  line-height: 1.5em;
}

.about-datas {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.about-data {
  width: 22%;
}

.about-data p {
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

.genre {
  font-size: 18px;
}

.about-data h3 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.about-data span {
  font-size: 60px;
}

.about-data .text {
  font-size: 38px;
}

.slideshow-container {
  width: 58%;
  margin: 60px auto;
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 100%;
  height: 500px;
}

#prevBtn {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%) translateX(-5%);
  -webkit-transform: translateY(-50%) translateX(-5%);
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

#nextBtn {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%) translateX(-5%);
  -webkit-transform: translateY(-50%) translateX(-5%);
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

.video {
  position: absolute;
  top: 1950px;
  width: 100%;
}

.video-text h2 {
  font-size: 40px;
  letter-spacing: 1px;
  color: #000;
  padding-bottom: 30px;
}

.video-text p {
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.fes-videos {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.fes-video {
  width: 30%;
  height: 200px;
}

iframe {
  width: 100%;
}

.introduce {
  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.fes-video h3 {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  padding: 15px 0px;
  font-weight: 500;
  border-bottom: 2px solid #000;
  width: 50%;
  letter-spacing: 1px;
}

.fes-video p {
  margin-top: 20px;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 1.3em;
}

.news {
  position: absolute;
  top: 2600px;
  width: 100%;
}

.news-text h2 {
  font-size: 40px;
  letter-spacing: 1px;
  color: #000;
  padding-bottom: 30px;
}

.news-text p {
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.news-items {
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.news-item {
  padding-bottom: 30px;
}

.news-item p {
  font-size: 15px;
  color: rgba(150, 150, 150, 1);
  font-weight: bold;
}

.news-item h3 {
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  padding: 15px 0px;
}

.contact {
  position: absolute;
  top: 3150px;
  width: 100%;
}

.contact-text h2 {
  font-size: 40px;
  letter-spacing: 1px;
  color: #000;
  padding-bottom: 30px;
}

.contact-text p {
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.contact-icon {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-icon ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-icon ul > li {
  text-align: center;
}

.contact-icon ul > li > p {
  padding: 15px;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .nav-items {
    position: absolute;
    right: 0px;
    top: 80px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .nav-items li {
    opacity: 0;
  }
  .nav-items a {
    color: #fff;
  }

  .burger {
    display: block;
  }

  .main-img {
    background-position: center center;
  }

  .main-title h1 {
    font-size: 130px;
    padding-bottom: 15px;
  }

  .main-title h3 {
    font-size: 16px;
  }

  .main-title ul {
    width: 45%;
    margin-top: 20px;
  }

  .fab {
    font-size: 35px;
  }

  .container {
    width: 85%;
  }

  .slideshow-container {
    width: 77%;
  }

  .fes-video h3 {
    font-size: 25px;
    padding: 13px 0px;
  }

  .fes-video p {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 520px) {
  header {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav-items {
    width: 40%;
    height: 300px;
    position: absolute;
    right: 0px;
    top: 60px;
  }

  .nav-items a {
    font-size: 12px;
  }

  .logo {
    font-size: 35px;
    line-height: 60px;
    color: #fff;
  }

  .burger div {
    background-color: #fff;
  }

  .main-img {
    background-position: center center;
    min-height: 700px;
  }

  .main-title {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 70%;
  }

  .main-title h1 {
    font-size: 105px;
    padding-bottom: 15px;
  }

  .main-title h3 {
    font-size: 13px;
  }

  .main-title ul {
    width: 60%;
    margin-top: 20px;
  }

  .fab {
    font-size: 40px;
  }

  .main-title > p {
    margin-top: 220px;
  }

  .about {
    position: absolute;
    top: 700px;
  }

  .about-text h2 {
    font-size: 35px;
  }

  .about-text p {
    padding-left: 0px;
    font-size: 12px;
  }

  .about-text p span {
    font-size: 30px;
  }

  .about-data {
    width: 22%;
  }

  .date {
    display: none;
  }

  .about-data p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .about-data h3 {
    font-size: 11px;
    margin-top: 20px;
  }

  .about-data span {
    font-size: 40px;
  }

  .about-data .text {
    font-size: 20px;
  }

  .slideshow-container {
    margin: 40px auto;
    width: 99%;
    height: 253px;
  }

  .slideshow {
    width: 90%;
    height: 253px;
  }

  .video {
    position: absolute;
    top: 1450px;
  }

  .video-text h2 {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .video-text p {
    font-size: 12px;
  }

  .fes-videos {
    margin-top: 0px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .fes-video {
    margin-top: 20px;
    width: 100%;
    height: 200px;
  }

  .fes-video h3 {
    font-size: 23px;
    padding: 15px 0px;
  }

  .fes-video p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.3em;
    padding: 0px 20px;
  }

  .news {
    position: absolute;
    top: 2920px;
  }

  .news-text h2 {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .news-text p {
    font-size: 12px;
  }

  .news-items {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .news-item p {
    font-size: 12px;
  }

  .news-item h3 {
    font-size: 14px;
    padding: 10px 0px;
  }

  .contact {
    position: absolute;
    top: 3390px;
  }

  .contact-text h2 {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .contact-text p {
    font-size: 11.5px;
    letter-spacing: 0.5px;
  }

  .contact-icon ul {
    width: 40%;
    margin-top: 20px;
  }

  .contact-icon ul > li > p {
    padding: 15px;
    font-size: 12px;
  }
}

.nav-active {
  transform: translateX(0%);
}

/*nav-items li を順番に出していくアニメーションの基本設定*/
@keyframes navItemsFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
